###### Agents
# Architecture
Agents/Architecture/Logs
Agents/Architecture/ArbiterVoices/Planner_utlis/Plans
Agents/Architecture/ArbiterVoices/Planner_utlis/Problems
Agents/Architecture/ArbiterVoices/Planner_utlis/Domain.pddl

# RL SimpleSat
Agents/RL-Agent/RLAgent/Logs
Agents/RL-Agent/RLAgent/__pycache__

# OR Tools
Agents/OR-Tool/Logs

# PDDL Planner
Agents/PDDL-Planner/PDDLPlanner/Logs

# Architecture
Agents/Architecture/Logs
Agents/Architecture/ArbiterVoices/Planner_utlis/Plans
Agents/Architecture/ArbiterVoices/Planner_utlis/Problems
Agents/Architecture/ArbiterVoices/Planner_utlis/Domain.pddl

### Ignore Built Env
/REMPS_Env

### Ignore Packeges_tester
/Test


Test/Results/RLAgent_2/SimpleSatellite-setgoals-v0/Env_1
Test/Results/RLAgent_2/SimpleSatellite-setgoals-v0/Env_2
Test/Results/RLAgent_2/SimpleSatellite-setgoals-v0/Env_3

Agents/Transformer-Planner/TransformerPlanner/Transformers/mesh-transformer-jax
