gym==0.23.1
ifaddr==0.1.6
ipython==8.5.0
matplotlib==3.1.2
numpy>=1.18.0
ortools==9.4.1874
pandas==1.5.1
pygame==2.1.2
pyrsistent==0.18.1
PyYAML==6.0
ray==2.0.1
setuptools==45.2.0
tensorflow==2.10.0
torch==1.11.0
scikit-image==0.19.2
setuptools==63.1.0
psutil==5.9.3